lab1/build/CMakeCache.txt
lab1/build/CMakeFiles/
lab2/build/CMakeCache.txt
lab2/build/CMakeFiles/
lab2/build/output/make_net/
lab2/build/output/some_physics/
.vscode/
lab3/hyperelasticity/build/CMakeCache.txt
lab3/hyperelasticity/build/CMakeFiles/

microproject/build/*
microproject/results/*


